.bg-custom {
    background-color: #23252b; /* Reemplaza "#FF0000" con tu color personalizado en formato hexadecimal, RGB o nombre de color */
  }
.navbar,
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.disabled,
.navbar .navbar-nav .nav-link.dropdown-toggle {
color: white; /* Cambia "white" al color deseado */
}
/* Agrega estilos CSS personalizados aquí */
.navbar {
  justify-content: center;
}
.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.centrocard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-top: 20px;
}